@model Shopily.ViewModel.Cart.IndexVM
@{
    var recentlyViewedProducts = ViewData["AddInLike"] as List<Shopily.ViewModel.Cart.CartItemVM>;
}
<link rel="stylesheet" href="@Url.Content("~/css/style/icomoon.css")">

<main>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                           
                                @if (recentlyViewedProducts != null && recentlyViewedProducts.Any())
                                {
                                    @foreach (var item in recentlyViewedProducts)
                                    {


                                        <tbody>
                                            <tr>
                                                <td class="product-thumbnail">

                                                    <img src="images/@item.ImagePath" alt="@item.ProductName" class="img-fluid" />



                                                </td>
                                                <td class="product-name">
                                                    <h2 class="h5 text-black">@item.ProductName</h2>
                                                </td>
                                                <td>@item.Price</td>
                                                <td>
                                                    <div class="input-group mb-3" style="max-width: 120px;">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                                        </div>
                                                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>$49.00</td>
                                            <td><a href="/Shop/Delete?LikedId=@item.ProductId&UserId=@item.UserId" class="btn btn-primary btn-sm">X</a></td>

                                            </tr>


                                        </tbody>
                                    }
                                }
                            
                           
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        
                        <div class="col-md-6">
                            <a href="/Shop" class=" btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>

</main>